/* animations */

@keyframes rotate-360-3s {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes translateX-5px-2s {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes translateY-5px-2s {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes scale-13-3s {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.animation-rotate-360-3s {
    animation: rotate-360-3s linear 3s infinite;
}

.animation-translateY-5px-2s {
    animation: translateY-5px-2s linear 2s infinite;
}
.animation-translateX-5px-2s {
    animation: translateX-5px-2s linear 2s infinite;
}

.animation-scale-13-3s {
    animation: scale-13-3s linear 3s infinite;
}