@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.bg-container {
    transition: all linear 0.5s;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-container-inner {
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.text__center {
    text-align: center;
}

 .clear-d {
    background-image: url('../bg-images/clear-d-m.jpg');
}
/*
.clear-n {
    background-image: url('../bg-images/clear-n.jpg');
}

.cloudy-d {
    background-image: url('../bg-images/cloudy-d.jpg');
}

.cloudy-n {
    background-image: url('../bg-images/cloudy-n.jpg');
}

.rain-d {
    background-image: url('../bg-images/rain-d.jpg');
}

.rain-n {
    background-image: url('../bg-images/rain-n.jpg');
}

.foggy-d {
    background-image: url('../bg-images/foggy-d.jpg');
}

.foggy-n {
    background-image: url('../bg-images/foggy-n.jpg');
}

.snow-d {
    background-image: url('../bg-images/snow-d.jpg');
}

.snow-n {
    background-image: url('../bg-images/snow-n.jpg');
} */

.alert-body-title {
    color: orange;
}

.alert-modal {
    font-family: 'Roboto Mono', monospace;
}

.close-single-alert-btn {
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 30px;
    background-color: transparent;
    color: orange;
    padding: 5px 10px;
    transition: all ease 0.5s;
}

.close-single-alert-close-btn:active {
    outline: none;
}

.hr {
    background: transparent;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .clear-d {
        background-image: url('../bg-images/clear-d-d.jpg');
    }
 /*
    .clear-n {
        background-image: url('../bg-images/clear-n-desktop.jpg');
    }

    .cloudy-d {
        background-image: url('../bg-images/cloudy-d-desktop.jpg');
    }

    .cloudy-n {
        background-image: url('../bg-images/cloudy-n-desktop.jpg');
    }

    .rain-d {
        background-image: url('../bg-images/rain-d-desktop.jpg');
    }

    .rain-n {
        background-image: url('../bg-images/rain-n-desktop.jpg');
    }

    .snow-d {
        background-image: url('../bg-images/snow-d-desktop.jpg');
    }

    .snow-n {
        background-image: url('../bg-images/snow-n-desktop.jpg');
    }

    .foggy-d {
        background-image: url('../bg-images/foggy-d-desktop.jpg');
    }

    .foggy-n {
        background-image: url('../bg-images/foggy-n-desktop.jpg');
    } */
}